n8n-workflows/blueprint-generator.json
{
  "name": "Blueprint Generator",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "blueprint-generate",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "wbk-001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        240,
        300
      ],
      "webhookId": "blueprint-generate-v3"
    },
    {
      "parameters": {
        "jsCode": "// Blueprint Generator (single Code node).\n// Auth model: service role hardcoded for Supabase; ANTHROPIC + RESEND keys fetched from Vault.\n\nconst SUPABASE_URL = 'https://bjbvqvzbzczjbatgmccb.supabase.co';\nconst SUPABASE_SERVICE_KEY = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJqYnZxdnpiemN6amJhdGdtY2NiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2ODMwNTA4MCwiZXhwIjoyMDgzODgxMDgwfQ.1ioXfrOjVR2QKNW1XW1WggdrxjVIB-5eW3AaT7byqw8';\nconst sb = { apikey: SUPABASE_SERVICE_KEY, Authorization: `Bearer ${SUPABASE_SERVICE_KEY}`, 'Content-Type': 'application/json' };\n\nconst sessionId = String(($json.body || {}).session_id || '').trim();\nif (!sessionId) throw new Error('missing session_id');\n\n// 1. Bootstrap RPC: returns paid + intake + secrets\nconst bootstrap = await this.helpers.httpRequest({\n  method: 'POST',\n  url: `${SUPABASE_URL}/rest/v1/rpc/bootstrap_blueprint_generation`,\n  headers: sb,\n  body: { p_session_id: sessionId },\n  json: true,\n});\nif (!bootstrap || !bootstrap.paid || !bootstrap.intake || !bootstrap.secrets) {\n  throw new Error('bootstrap failed: ' + JSON.stringify(bootstrap).slice(0, 300));\n}\nconst paid = bootstrap.paid;\nconst intake = bootstrap.intake;\nconst secrets = bootstrap.secrets;\nconst answers = intake.answers || {};\n\nif (!secrets.anthropic_key) throw new Error('ANTHROPIC_API_KEY not in vault');\nif (!secrets.resend_key) throw new Error('RESEND_API_KEY_ASSESSMENT not in vault');\n\n// 2. Build + call Anthropic\nconst SYSTEM_PROMPT = `You are generating a personalized $2,500 Agent-Ready Blueprint for a buyer who just completed Ivan Manfredi's intake.\n\nThis is a HIGH-STAKES deliverable. The buyer paid real money expecting concrete, specific, costed advice grounded in their actual answers, not generic AI consulting boilerplate.\n\n# YOUR ROLE\nYou are NOT an assistant. You are Ivan Manfredi, an AI ops fractional partner, writing the buyer a structured 7-section diagnostic in his voice.\n\n# VOICE RULES (NEVER VIOLATE)\n- Plain English. Founder-to-founder. Use contractions.\n- NO em-dashes or en-dashes. Commas, periods, or colons only.\n- NO emojis.\n- NO sycophantic openers (\"Great\", \"Got it\", \"Perfect\", \"Excellent\").\n- NO \"I understand\", \"Absolutely\", \"Of course\", \"happy to help\".\n- NO hedging like \"could potentially\", \"might possibly\". Be direct.\n- NO triple-clause \"A, B, and C\" sentences. Two clauses max.\n- NO exclamation points except extremely rare cases.\n- Specific names, specific numbers, specific dollar amounts. Never vague.\n\n# SECTION CONTRACT (output strict JSON matching this schema)\n\n{\n  \"reflective_summary\": \"<1 paragraph, 80-120 words. Mirror back their situation. Reference their actual company, role, work_description, and the named pain.>\",\n  \"map_60_25_15\": {\n    \"agent\": [\"<3-5 bullets>\"], \"augmented\": [\"<3-5 bullets>\"], \"human\": [\"<3-5 bullets>\"]\n  },\n  \"roadmap_axis\": \"save | gain\",\n  \"roadmap_axis_reason\": \"<1 sentence>\",\n  \"roadmap_90_day\": [\n    {\"phase\": \"Days 1-30\", \"title\": \"<specific>\", \"deliverables\": [\"<bullet>\"], \"impact\": \"<costed>\"},\n    {\"phase\": \"Days 31-60\", \"title\": \"<specific>\", \"deliverables\": [\"<bullet>\"], \"impact\": \"<costed>\"},\n    {\"phase\": \"Days 61-90\", \"title\": \"<specific>\", \"deliverables\": [\"<bullet>\"], \"impact\": \"<costed>\"}\n  ],\n  \"quick_wins\": [\n    {\"title\": \"<specific>\", \"effort\": \"<hours/days>\", \"owner\": \"<named role>\", \"impact\": \"<costed>\"}\n  ],\n  \"costed_gaps\": [\n    {\"precondition\": \"01 Reliable input | 02 Documentable decision | 03 Narrow scope | 04 Human review\", \"gap\": \"<specific>\", \"cost_of_inaction_monthly\": \"<$ amount>\", \"fix\": \"<one-line>\"}\n  ],\n  \"engagement_fit\": {\n    \"recommendation\": \"Lead Magnet System | Content Engine | Fractional AI Partner Essential | Fractional AI Partner Standard | Fractional AI Partner Investor | Not yet, here is what to build first\",\n    \"price_label\": \"<e.g. $3.5K/mo>\",\n    \"reason\": \"<2-3 sentences>\"\n  },\n  \"pace_to_absorption_note\": \"<1 paragraph, ~80 words>\"\n}\n\n# ANTI-AI-SLOP RULES\n- Every claim ties to specific intake answer.\n- Numbers > adjectives.\n- Named owners > vague \"someone\".\n\nReturn ONLY the JSON object. First char {. Last char }.`;\n\nconst userPrompt = `# INTAKE ANSWERS\n\nBuyer: ${paid.name || '(no name)'} <${paid.email}>\n\n${Object.entries(answers).map(([k, v]) => `## ${k}\\n${v}`).join('\\n\\n')}\n\nGenerate the Blueprint now. Strict JSON per the schema.`;\n\nconst claudeRes = await this.helpers.httpRequest({\n  method: 'POST',\n  url: 'https://api.anthropic.com/v1/messages',\n  headers: { 'x-api-key': secrets.anthropic_key, 'anthropic-version': '2023-06-01', 'content-type': 'application/json' },\n  body: {\n    model: 'claude-sonnet-4-6',\n    max_tokens: 4000,\n    system: [{ type: 'text', text: SYSTEM_PROMPT, cache_control: { type: 'ephemeral' } }],\n    messages: [{ role: 'user', content: userPrompt }],\n  },\n  json: true,\n});\n\nconst rawText = claudeRes?.content?.[0]?.text || '';\nconst fb = rawText.indexOf('{'); const lb = rawText.lastIndexOf('}');\nif (fb < 0 || lb < 0) throw new Error('no JSON in Claude response: ' + rawText.slice(0, 300));\nlet sections;\ntry { sections = JSON.parse(rawText.slice(fb, lb + 1)); }\ncatch (e) { throw new Error('Claude JSON parse failed: ' + e.message); }\n\n// 3. Render HTML\nconst escape = (s) => String(s ?? '').replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;');\nconst stripDashes = (s) => String(s ?? '').replace(/\u2014/g, ', ').replace(/\u2013/g, ', ');\nconst clean = (s) => escape(stripDashes(s));\nconst bullets = (arr) => `<ul>${(arr || []).map(x => `<li>${typeof x === 'string' ? clean(x) : clean(JSON.stringify(x))}</li>`).join('')}</ul>`;\nconst companyName = String(answers.company || '').split(',')[0].trim() || 'Your company';\n\nconst html = `<article class=\"blueprint\">\n  <header>\n    <p class=\"eyebrow\">The Agent-Ready Blueprint</p>\n    <h1>${clean(companyName)}</h1>\n    <p class=\"meta\">Prepared for ${clean(paid.name || paid.email)} \u00b7 ${new Date().toLocaleDateString('en-US', { month: 'long', day: 'numeric', year: 'numeric' })}</p>\n  </header>\n  <section><h2>Where you are</h2><p>${clean(sections.reflective_summary)}</p></section>\n  <section>\n    <h2>The 60 / 25 / 15 map</h2>\n    <div class=\"map-grid\">\n      <div><h3>60 \u00b7 Agent</h3>${bullets(sections.map_60_25_15?.agent)}</div>\n      <div><h3>25 \u00b7 Augmented</h3>${bullets(sections.map_60_25_15?.augmented)}</div>\n      <div><h3>15 \u00b7 Human</h3>${bullets(sections.map_60_25_15?.human)}</div>\n    </div>\n  </section>\n  <section>\n    <h2>90-day roadmap</h2>\n    <p class=\"axis-note\"><strong>Axis: ${clean(sections.roadmap_axis)}.</strong> ${clean(sections.roadmap_axis_reason)}</p>\n    ${(sections.roadmap_90_day || []).map(p => `\n      <div class=\"phase\">\n        <h3>${clean(p.phase)} \u00b7 ${clean(p.title)}</h3>\n        ${bullets(p.deliverables)}\n        <p class=\"impact\"><em>Impact:</em> ${clean(p.impact)}</p>\n      </div>\n    `).join('')}\n  </section>\n  <section>\n    <h2>Quick wins</h2>\n    <table>\n      <thead><tr><th>Win</th><th>Effort</th><th>Owner</th><th>Impact</th></tr></thead>\n      <tbody>\n        ${(sections.quick_wins || []).filter(w => typeof w === 'object').map(w => `\n          <tr><td>${clean(w.title)}</td><td>${clean(w.effort)}</td><td>${clean(w.owner)}</td><td>${clean(w.impact)}</td></tr>\n        `).join('')}\n      </tbody>\n    </table>\n  </section>\n  <section>\n    <h2>Costed gaps</h2>\n    <table>\n      <thead><tr><th>Precondition</th><th>Gap</th><th>Cost of inaction (monthly)</th><th>Fix</th></tr></thead>\n      <tbody>\n        ${(sections.costed_gaps || []).map(g => `\n          <tr><td>${clean(g.precondition)}</td><td>${clean(g.gap)}</td><td>${clean(g.cost_of_inaction_monthly)}</td><td>${clean(g.fix)}</td></tr>\n        `).join('')}\n      </tbody>\n    </table>\n  </section>\n  <section class=\"fit\">\n    <h2>Engagement fit</h2>\n    <p class=\"recommendation\"><strong>${clean(sections.engagement_fit?.recommendation)}</strong> \u00b7 ${clean(sections.engagement_fit?.price_label)}</p>\n    <p>${clean(sections.engagement_fit?.reason)}</p>\n  </section>\n  <section class=\"pace\"><h2>How we work together</h2><p>${clean(sections.pace_to_absorption_note)}</p></section>\n  <footer><p>Agent-Ready Ops\u2122 \u00b7 Ivan Manfredi \u00b7 <a href=\"https://ivanmanfredi.com\">ivanmanfredi.com</a></p></footer>\n</article>`;\n\n// 4. Insert blueprint\nconst kind = sessionId.startsWith('cs_test_') ? 'test' : 'real';\nconst fit = sections.engagement_fit?.recommendation || '(unknown)';\n\nconst insertRes = await this.helpers.httpRequest({\n  method: 'POST',\n  url: `${SUPABASE_URL}/rest/v1/blueprints`,\n  headers: { ...sb, Prefer: 'return=representation' },\n  body: {\n    stripe_session_id: sessionId,\n    status: 'draft',\n    kind,\n    html,\n    json_sections: sections,\n    embedding_text: `${companyName} | ${answers.work_description || ''} | ${fit}`,\n    generation_metadata: {\n      model: 'claude-sonnet-4-6',\n      input_tokens: claudeRes?.usage?.input_tokens,\n      output_tokens: claudeRes?.usage?.output_tokens,\n      generated_at: new Date().toISOString(),\n    },\n  },\n  json: true,\n});\nconst inserted = Array.isArray(insertRes) ? insertRes[0] : insertRes;\n\n// 5. Notify Ivan (fire-and-forget; failures don't break flow)\nconst editorUrl = `https://ivanmanfredi.com/dashboard/blueprints/${encodeURIComponent(sessionId)}`;\nconst notifText = `Blueprint draft ready for ${companyName}.\\n\\nFit: ${fit}\\n\\nReview + edit: ${editorUrl}`;\n\ntry {\n  await this.helpers.httpRequest({\n    method: 'POST',\n    url: 'http://24.199.118.135:8080/message/sendText/ivan-wa',\n    headers: { 'Content-Type': 'application/json', apikey: 'evo_ivan_n8nclaw_2026' },\n    body: { number: '5491159385939', text: notifText, options: { delay: 1000 } },\n    json: true,\n  });\n} catch (e) { console.error('whatsapp:', e.message); }\n\ntry {\n  await this.helpers.httpRequest({\n    method: 'POST',\n    url: 'https://api.resend.com/emails',\n    headers: { 'Content-Type': 'application/json', Authorization: `Bearer ${secrets.resend_key}` },\n    body: {\n      from: secrets.resend_from,\n      to: ['im@ivanmanfredi.com'],\n      subject: `Blueprint draft: ${companyName}`,\n      text: notifText,\n      html: `<p>Blueprint draft ready for <strong>${escape(companyName)}</strong>.</p><p>Recommended fit: <strong>${escape(fit)}</strong></p><p><a href=\"${editorUrl}\" style=\"color:#2A8F65;font-weight:600\">Review + edit in dashboard \u2192</a></p>`,\n      tags: [{ name: 'type', value: 'blueprint_draft_ready' }],\n    },\n    json: true,\n  });\n} catch (e) { console.error('email:', e.message); }\n\nreturn [{ json: { ok: true, blueprint_id: inserted?.id, session_id: sessionId, kind, editor_url: editorUrl, fit } }];"
      },
      "id": "code-001",
      "name": "Generate Blueprint",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}"
      },
      "id": "resp-001",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        720,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Generate Blueprint",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Blueprint": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}